.error-feedback {
    color: red !important;
}

.grecaptcha-badge {
    visibility: hidden;
}

.accordion-group-portal .accordion.open .accordion-control::after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.is-verified-label {
    padding-top: 3px;
}

/* maybe delete \/\/\/\/ */
.subject-images {
    height: 300px;
    width: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}
/* ^^^ maybe delete */

@media only screen and (max-width: 1200px) {
    .mobile-center {
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {
    .contact-card {
        width: 100% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-card {
        width: 33% !important;
    }
    .modal-larger {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1600px) {
    .contact-card {
        width: 30% !important;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-modal {
        margin: 0.1em;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1199px) {
    .mobile-modal {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .modal-image {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 350px) {
    .email-text {
        font-size: 0.8rem !important;
    }
}

@media only screen and (max-width: 400px) {
    .mobile-buttons {
        padding: 0.75em !important;
        margin-left: 0rem !important;
    }
    .mobile-buttons .m-1 {
        margin-left: 0rem !important;
    }
}
